@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Russo+One&display=swap");

.App {
  text-align: center;
}

.wrapper{
  
  background: url("https://t3.ftcdn.net/jpg/03/98/18/08/360_F_398180803_RduwLMvsnC9dOroklmmS6yvPufvszF8G.jpg");
  color: #eee;
  width: 100%;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;

}

@keyframes animation {
  100%{
   background-position:0px -3000px;
 }
}


.custom-btn1{
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: "Russo One", sans-serif;
  width: 120px;
  font-size: 17px;
  border: 3px solid rgb(135, 31, 31);
  background-color: rgb(204, 139, 139);
  color: black;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(194, 93, 93);
}

.custom-btn2{
  padding: 10px;
  margin-left: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: "Russo One", sans-serif;
  width: 125px;
  font-size: 17px;
  border: 3px solid rgb(135, 31, 31);
  background-color: rgb(204, 139, 139);
  color: black;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(194, 93, 93);
}

hr{
  width: 1100px;
  background-color: rgb(135, 31, 31);
  height: 2px;
  margin-bottom: 40px;
}

:root {
  --direction: -45deg;
}
