.App {
  text-align: center;
  background-image: url(https://source.unsplash.com/1600x900/?night);
  mask-image: linear-gradient(var(--direction), black 100%, rgba(0, 0, 0, 0) 100%);
  mask-position: 50% 50%;
}


.custom-btn1{
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 120px;
  font-size: 20px;
  border: 3px solid rgb(29, 29, 145);
  background-color: rgba(141, 141, 210, 0.776);
}

.custom-btn2{
  padding: 10px;
  margin-left: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 125px;
  font-size: 20px;
  border: 3px solid rgb(29, 29, 145);
  background-color: rgba(141, 141, 210, 0.776);
}

hr{
  width: 1300px;
  background-color: black;
  height: 2px;
  margin-bottom: 25px;
}

:root {
  --direction: -45deg;
}
